.buyer-products-product-map {
	font-family: 'Sawarabi Mincho', sans-serif;
	margin: 10px;
	padding: 10px;
	width: 400px;
	height: 500px;
	align-items: center;
	align-content: center;
}
.buyer-products-product-display {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	font-family: 'Sawarabi Mincho', sans-serif;
}
.buyer-product-img {
	max-width: 75%;
	max-height: 80%;
}
.parts-for-sale {
	font-family: 'Sawarabi Mincho', sans-serif;
}
.buyer-product-just-another-container {
	height: 60%;
}

.buyer-product-text-container {
	overflow: auto;
	height: 40%;
}
.buyer-product-info {
	font-family: 'Sawarabi Mincho', sans-serif;
}
.buyer-product-name {
	font-family: 'Sawarabi Mincho', sans-serif;
}
