.buyer-products-product-map {
	font-family: 'Sawarabi Mincho', sans-serif;
	border: 2px solid pink;
	margin: 10px;
	padding: 10px;
	width:400px;
	height: 475px;
	align-items: center;
	align-content: center;
}
.buyer-products-product-display {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	font-family: 'Sawarabi Mincho', sans-serif;
}
.buyer-product-img {
	max-width: 75%;
	max-height: 80%;
}
.parts-for-sale {
	font-family: 'Sawarabi Mincho', sans-serif;
}
.buyer-product-just-another-container {
	border: 1px solid red;
	height: 65%;
}
.buyer-product-img-container {
	border: 2px solid yellow;
}
.buyer-product-text-container{
	border: 1px solid black;
	overflow: auto;
	height: 40%;
}
.buyer-product-info {
	font-family: 'Sawarabi Mincho', sans-serif;
}
.buyer-product-name{
	font-family: 'Sawarabi Mincho', sans-serif;
}