.seller-specific-navBar {
	justify-content: space-between;
	background-image: linear-gradient(
		rgb(38, 38, 38),
		rgb(200, 200, 200),
		rgb(255, 255, 255)
	);
	padding: 18px;
	height: 100px;
	width: 100vw;
}
.seller-specific-dashboard-button {
	background-image: linear-gradient(
		to bottom right,
		rgba(102, 102, 102, .4),
		black
	);
	border: 1px solid rgb(0, 112, 184);
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	font-family: 'Sawarabi Mincho', sans-serif;
}
.seller-specific-dashboard-button:hover {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.9);
	transform: scale(1.1);
}
.seller-specific-remove-button {
	background-image: linear-gradient(
		to bottom right,
		rgba(102, 102, 102, .4),
		black
	);
	border: 1px solid rgb(0, 112, 184);
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 10px;
	transition: all .2s linear;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	font-family: 'Sawarabi Mincho', sans-serif;
}
.seller-specific-remove-button:hover {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.9);
	transform: scale(1.1);
}

.seller-specific-logged-out {
	font-family: 'Sawarabi Mincho', sans-serif;
	font-size: 60px;
}
.seller-specific-login {
	background-image: linear-gradient(
		to bottom right,
		rgba(102, 102, 102, .4),
		black
	);
	border: 1px solid rgb(0, 112, 184);
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	font-family: 'Sawarabi Mincho', sans-serif;
}
.seller-specific-login:hover {
	box-shadow: 0 0 10px 2px rgba(102, 102, 102);
	transform: scale(1.1);
}
.seller-specific-map {
	font-family: 'Sawarabi Mincho', sans-serif;
	margin: 10px;
	padding: 10px;
	width: 400px;
	height: 540px;
	align-items: center;
	align-content: center;
	/* border: 3px solid black; */
}
.seller-specific-display {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* border: 3px solid pink; */
}

.seller-specific-img {
	max-width: 65%;
	max-height: 60%;
	/* border: 3px solid red; */
}
.seller-specific-product-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50%;
	/* border: 3px solid blue; */
}
.seller-specific-another-container {
	height: 50%;
	/* border: 3px solid yellow; */
}
.seller-specific-button-holder {
	/* border: 3px solid purple; */
	max-height: 40%;
}
/* .seller-specific-info-holder {
	border: 3px solid lightblue;
} */
