
.c-whole-page {
	border: 3px solid salmon;
	
}
.c-container {
	border: 5px solid cyan;
	max-width: 500px;
	max-height: 500px;
	
	
	
}

	


.c-pic-container {
	height: 500px;
	
	border: 2px solid red;
}
.picture {
	border: 1px solid black;
	height: 50%;
	width: 50%;
	margin: 0 auto;
}

.slick-prev:before {
	color: black;
}

.slick-next:before {
	color: black;
}
.c-display-div {
	border: 3px solid green;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
