.parts_for_sale {
	border: 1px solid black;
}
.productContainer {
	border: 1px solid black;
}

.dashboard-login-button {
	background: lightgreen;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
}
.dashboard-login-button:hover {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.9);
	transform: scale(1.1);
}
.dashboard-logout-button {
	border: 1px solid black;
	background: lightgreen;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
}
.dashboard-logout-button:hover {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.9);
	transform: scale(1.1);
}

.dashboard-modal {
	display: block;
	padding: 10px;
	width: 60%;
	height: 250px;
	max-width: 35%;
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
	background: white;
	box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.9);
	outline: none;
	border-style: none;
	border-radius: 15px;
}
.dashboard-modal-form {
	width: 100%;
	clear: both;
}
.dashboard-modal-open {
	background: lightgreen;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
}
.dashboard-modal-open:hover {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.9);
	transform: scale(1.1);
}
.dashboard-list-item-button {
	background: lightgreen;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
	margin-top: 10px;
}
.dashboard-list-item-button:hover {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.9);
	transform: scale(1.1);
}
.dashboard-product-name {
	padding: 15px 50px;
	background-color: white;
	background-position: 4px;
	background-repeat: no-repeat;
	background-size: 30px;
	height: 20px;
	margin-top: 10px;
	border-style: none;
	width: 100%;
	border-radius: 15px;
	border-bottom: 2px solid black;
	box-sizing: border-box;
	outline: none;
}
.dashboard-product-info {
	padding: 15px 50px;
	background-color: white;
	background-position: 4px;
	background-repeat: no-repeat;
	background-size: 30px;
	height: 20px;
	margin-top: 10px;
	border-style: none;
	width: 100%;
	border-radius: 15px;
	border-bottom: 2px solid black;
	box-sizing: border-box;
	outline: none;
}
.dashboard-product-img {
	padding: 15px 50px;
	background-color: white;
	background-position: 4px;
	background-repeat: no-repeat;
	background-size: 30px;
	height: 20px;
	margin-top: 10px;
	border-style: none;
	width: 100%;
	border-radius: 15px;
	border-bottom: 2px solid black;
	box-sizing: border-box;
	outline: none;
}
.dashboard-modal-select {
	margin-top: 10px;
	background: lightgreen;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
}
.dashboard-myproducts-button {
	background: lightgreen;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
}

.dashboard-myproducts-button:hover {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.9);
	transform: scale(1.1);
}
.dashboard-loginpage-button {
	background: lightgreen;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
}
.dashboard-loginpage-button:hover {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.9);
	transform: scale(1.1);
}
.parts-for-sale {
	border: 1px solid black;
}
.dashboard-username {
	border: 1px solid black;
}
.dashboard-products-button-container {
	border: 1px solid black;
}
.dashboard-products-username-container {
	border: 1px solid black;
}
.dashboard-logout-button-container {
	border: 1px solid black;
}
.parts-for-sale-container {
	border: 1px solid black;
}
.Paypalbutton {
	outline: none;
}
