.dashboard-logged-out {
	font-family: 'Sawarabi Mincho', sans-serif;
	font-size: 60px;
}
.dashboard-login-button {
	background-image: linear-gradient(
		to bottom right,
		rgba(102, 102, 102, .4),
		black
	);
	border: 1px solid rgb(0, 112, 184);
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	font-family: 'Sawarabi Mincho', sans-serif;
}
