.open-button {
	margin: 10px;
	border: 0;
	background: lightgreen;
	color: white;
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
}
.open-button:hover {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.9);
	transform: scale(1.1);
}
.login-button {
	background: lightgreen;
	color: white;
	padding: 10px 40px;
	border-radius: 10px;
	font-size: 18px;
	transition: all .03s linear;
	outline: none;
	margin-top: 20px;
}
.login-button:hover {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.9);
	transform: scale(1.1);
}
.modal {
	display: block;
	padding: 10px;
	width: 60%;
	height: 285px;
	max-width: 35%;
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 25%;
	transform: translate(-50%, -50%);
	background: white;
	box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.9);
	outline: none;
	border-style: none;
	border-radius: 15px;
}
.username-modal-input {
	padding: 15px 50px;
	background-image: url('https://s3.us-east-2.amazonaws.com/pcpartstrader/usericon.png');
	background-color: white;
	background-position: 10px 2px;
	background-repeat: no-repeat;
	background-size: 20px;
	height: 20px;
	margin-top: 10px;
	border-style: none;
	border-radius: 15px;
	border-bottom: 2px solid black;
	width: 100%;
	box-sizing: border-box;
}

.username-model-input:focus {
	border: 3px solid #555;
	background-color: lightblue;
}
.password-modal-input {
	background-image: url('https://s3.us-east-2.amazonaws.com/pcpartstrader/passwordicon.png');
	padding: 15px 50px;
	background-color: white;
	background-position: 4px;
	background-repeat: no-repeat;
	background-size: 30px;
	height: 20px;
	margin-top: 10px;
	border-style: none;
	width: 100%;
	border-radius: 15px;
	border-bottom: 2px solid black;
	box-sizing: border-box;
}
.login-input-form {
	width: 100%;
	clear: both;
}
.modal-form-container {
	display: block;
	justify-content: center;
}
.register-link {
	padding: 5px 10px;
}
@media (max-width: 650px) {
	.modal {
		display: block;
		padding: 10px;
		width: 60%;
		height: 200px;
		max-height: 100%;
		position: fixed;
		z-index: 100;
		left: 50%;
		top: 20%;
		transform: translate(-50%, -50%);
		background: white;
		box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.9);
		outline: none;
		border-style: none;
		border-radius: 15px;
	}
	/* .username-modal-input {
		max-width: 50%;
	}
	.password-modal-input {
		max-width: 50%;
	}
	.username-modal-input {
		background-size: 20px;
	}
	.password-modal-input {
		background-size: 30px;
	}
	.login-button {
		margin-top: 10px;
		padding: 0 auto;
	}
	.login-input-form {
		width: 100%;
	} */
}
