.register-button-modal {
	background-image: linear-gradient(
		to bottom right,
		rgba(102, 102, 102, .4),
		black
	);
	border: 1px solid rgb(0, 112, 184);
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	margin-top: 6px;
	font-family: 'Sawarabi Mincho', sans-serif;
}
.register-button-modal:hover {
	background-color: rgba(102, 102, 102);
	transform: scale(1.1);
}

.register-modal {
	display: block;
	padding: 10px;
	width: 50%;
	max-width: 50%;
	height: 385px;
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 32.5%;
	transform: translate(-50%, -50%);
	background: white;
	box-shadow: 0 0 2000px 240px rgba(0, 0, 0, 0.9);
	border-style: none;
	border-radius: 15px;
	outline: none;
	font-family: 'Sawarabi Mincho', sans-serif;
}

.register-modal-username {
	padding: 15px 48px;
	background-image: url('https://s3.us-east-2.amazonaws.com/pcpartstrader/usericon.png');
	background-color: white;
	background-position: 10px 2px;
	background-repeat: no-repeat;
	background-size: 20px;
	height: 20px;
	margin-top: 10px;
	border-style: none;
	border-radius: 15px;
	border-bottom: 2px solid black;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Sawarabi Mincho', sans-serif;
}
.register-modal-username:hover {
	background-color: rgba(234, 234, 234, 0.9);
}
.register-modal-password {
	padding: 15px 48px;
	background-image: url('https://s3.us-east-2.amazonaws.com/pcpartstrader/passwordicon.png');
	background-color: white;
	background-position: 7px 2px;
	background-repeat: no-repeat;
	background-size: 25px;
	height: 20px;
	margin-top: 10px;
	border-style: none;
	border-radius: 15px;
	border-bottom: 2px solid black;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Sawarabi Mincho', sans-serif;
}
.register-modal-password:hover {
	background-color: rgba(234, 234, 234, 0.9);
}

.register-modal-email {
	padding: 15px 51px;
	background-image: url('https://s3.us-east-2.amazonaws.com/pcpartstrader/emailicon.png');
	background-color: white;
	background-position: 10px 2px;
	background-repeat: no-repeat;
	background-size: 20px;
	height: 20px;
	margin-top: 10px;
	border-style: none;
	border-radius: 15px;
	border-bottom: 2px solid black;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Sawarabi Mincho', sans-serif;
}
.register-modal-email:hover {
	background-color: rgba(234, 234, 234, 0.9);
}

.register-modal-img {
	padding: 15px 50px;
	background-image: url('https://s3.us-east-2.amazonaws.com/pcpartstrader/photoicon.png');
	background-color: white;
	background-position: 10px 2px;
	background-repeat: no-repeat;
	background-size: 20px;
	height: 20px;
	margin-top: 10px;
	border-style: none;
	border-radius: 15px;
	border-bottom: 2px solid black;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Sawarabi Mincho', sans-serif;
}
.register-modal-img:hover {
	background-color: rgba(234, 234, 234, 0.9);
}
.register-select {
	margin-top: 10px;
	background-image: linear-gradient(
		to bottom right,
		rgba(102, 102, 102, .4),
		black
	);
	border: 1px solid rgb(0, 112, 184);
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 21px;
	transition: all .2s linear;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	font-family: 'Sawarabi Mincho', sans-serif;
}
.register-select:hover {
	background-color: rgba(102, 102, 102);
}
@media (max-width: 450px) {
	.-register-modal-title {
		font-size: 20px;
	}
	.register-select {
		font-size: 15px;
	}
	.register-button-modal {
		font-size: 15px;
	}
}
@media (max-width: 350px) {
	.-register-modal-title {
		font-size: 15px;
	}
	.register-select {
		font-size: 10px;
	}
	.register-button-modal {
		font-size: 10px;
	}
}
